nav{
    padding-right: 10px;
    padding-left: 10px;
float: right;
font-family: Georgia, 'Times New Roman', Times, serif;
word-spacing: 5px;
}
img{
    bottom: 250px;
    right: 60px;
    position: fixed;
    width:250px;
    height: 250px;
    border: 2px;
    border-color: black;
    border-radius: 50%;
    
}

header{
    border-bottom: 1px solid black;
    margin: 30px 30px;
}

